In [2]:
import pandas as pd
import numpy as np

In [8]:
sr1 = pd.Series([1,"a"])

In [10]:
sr2 = pd.Series(["a",1])

In [11]:
sr1 + sr2 // Type errors

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
l1 = [100,2]
l2 = [2,2]

In [13]:
l1+l2

[100, 2, 2, 2]

In [14]:
l1/l2 #in lists

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [28]:
sr3 = pd.Series([1,2,3],dtype=np.int32)

In [30]:
sr4 = pd.Series([3,2,1],dtype = np.int)

In [31]:
sr3 + sr4

0    4
1    4
2    4
dtype: int64

In [22]:
pd.__version__

'1.1.0'

In [32]:
a = np.array([[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15],[16,17,18],[19,20,21],[22,23,24],[25,16,27]]])

In [34]:
a.shape

(1, 9, 3)

In [35]:
a.reshape(3,3,3)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 16, 27]]])

In [40]:
nparray = np.random.rand(10,10)

In [41]:
nparray

array([[0.40682306, 0.70858377, 0.35711995, 0.75681961, 0.50487662,
        0.56855108, 0.76252109, 0.25233203, 0.27517355, 0.45314836],
       [0.34203307, 0.54746261, 0.43225756, 0.63582164, 0.31975259,
        0.36040358, 0.35865909, 0.96028045, 0.46776079, 0.54757974],
       [0.99328318, 0.15935964, 0.71408726, 0.29585457, 0.11037428,
        0.90229889, 0.40567695, 0.0386132 , 0.1285909 , 0.51367234],
       [0.1480988 , 0.98806675, 0.95522325, 0.87434299, 0.81770864,
        0.76633449, 0.67108447, 0.74422586, 0.37555199, 0.90510583],
       [0.40738232, 0.17825465, 0.15442116, 0.25095612, 0.35375626,
        0.63909967, 0.0535149 , 0.95919359, 0.32175247, 0.45068651],
       [0.86871789, 0.12804001, 0.33605938, 0.19724958, 0.6760107 ,
        0.77662456, 0.26728671, 0.56287791, 0.4347546 , 0.34901614],
       [0.98705136, 0.34804186, 0.13409942, 0.57689404, 0.74023835,
        0.96259287, 0.09537645, 0.84032497, 0.39429291, 0.63705102],
       [0.89306602, 0.97856494, 0.33460735, 0.80843683, 0.52702122,
        0.28178474, 0.70918009, 0.47702367, 0.09052416, 0.97460867],
       [0.5964074 , 0.5294192 , 0.44684176, 0.68519637, 0.50588109,
        0.92863316, 0.04491093, 0.94864448, 0.54428285, 0.08167024],
       [0.43353023, 0.51823538, 0.02273371, 0.05200208, 0.61399184,
        0.83645871, 0.47447884, 0.71922704, 0.38143806, 0.75374121]])

In [42]:
df = pd.DataFrame(data=nparray,index=["row1","row2","row3","row4","row5","row6","row7","row8","row9","row10"],columns=["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10"])

In [43]:
df

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
row1,0.406823,0.708584,0.357120,0.756820,0.504877,0.568551,0.762521,0.252332,0.275174,0.453148
row2,0.342033,0.547463,0.432258,0.635822,0.319753,0.360404,0.358659,0.960280,0.467761,0.547580
row3,0.993283,0.159360,0.714087,0.295855,0.110374,0.902299,0.405677,0.038613,0.128591,0.513672
row4,0.148099,0.988067,0.955223,0.874343,0.817709,0.766334,0.671084,0.744226,0.375552,0.905106
row5,0.407382,0.178255,0.154421,0.250956,0.353756,0.639100,0.053515,0.959194,0.321752,0.450687
row6,0.868718,0.128040,0.336059,0.197250,0.676011,0.776625,0.267287,0.562878,0.434755,0.349016
row7,0.987051,0.348042,0.134099,0.576894,0.740238,0.962593,0.095376,0.840325,0.394293,0.637051
row8,0.893066,0.978565,0.334607,0.808437,0.527021,0.281785,0.709180,0.477024,0.090524,0.974609
row9,0.596407,0.529419,0.446842,0.685196,0.505881,0.928633,0.044911,0.948644,0.544283,0.081670
row10,0.433530,0.518235,0.022734,0.052002,0.613992,0.836459,0.474479,0.719227,0.381438,0.753741

In [53]:
df.loc["row1":"row3"]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
row1,0.406823,0.708584,0.357120,0.756820,0.504877,0.568551,0.762521,0.252332,0.275174,0.453148
row2,0.342033,0.547463,0.432258,0.635822,0.319753,0.360404,0.358659,0.960280,0.467761,0.547580
row3,0.993283,0.159360,0.714087,0.295855,0.110374,0.902299,0.405677,0.038613,0.128591,0.513672

In [1]:
import os

In [2]:
os.getcwd()

'/home/shivasai7392/Desktop'

In [3]:
titanictrain = pd.read_csv("test.csv")

In [4]:
titanictrain

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
titanictrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [9]:
titanictrain.Age[9
                ]

21.0

In [10]:
titanictrain.Age.fillna(titanictrain.Age.mean)

0                                                   34.5
1                                                     47
2                                                     62
3                                                     27
4                                                     22
                             ...
413    <bound method Series.mean of 0      34.5\n1   ...
414                                                   39
415                                                 38.5
416    <bound method Series.mean of 0      34.5\n1   ...
417    <bound method Series.mean of 0      34.5\n1   ...
Name: Age, Length: 418, dtype: object

In [11]:
import pymysql as pm

In [20]:
testdb = pm.connect("localhost","shivasai7392","7392","test")

In [21]:
testdb

In [23]:
titanictraindb = pd.read_sql_query("select * from TitanicTrain",testdb)

In [24]:
titanictraindb

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,,S

In [25]:
titanictraindb.to_csv("titanictraindb.csv")